<nav class="navbar navbar-expand-lg" style="background-color: #F2C879">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <img style="width: 2%" src="assets/ico_jer.png" />
    <h5 class="ml-3" style="color: #42468c">INSTITUCIÓN EDUCATIVA JOSÉ EUSTASIO RIVERA</h5>
  </div>
  <button class="btn btn-info">
    <i class="fa-solid fa-lock"></i> Ingresar
  </button>
</nav>
